<h1>Rock-Paper-Scissors</h1>

<p><strong>You played:</strong> <%= @player_move.capitalize %></p>
<p><strong>Computer played:</strong> <%= @computer_move.capitalize %></p>

<h2>Result: <%= @result %></h2>

<p>
  <a href="/">Play again</a>
</p>
