<h1>Rock-Paper-Scissors</h1>

<p><strong><%= @outcome.html_safe %></strong></p>

<h3>Play again:</h3>

<ul>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>

<p><a href="/">Rules</a></p>
